trigger:
- main
- developer
- master
- feat/*  

pool:
  name: my-agent                                 #pool name
  demands:
    - Agent.Name -equals azure-devops-agent        #agent name

steps:
- task: Maven@3
  displayName: 'code compile'
  inputs:
    mavenPomFile: 'pom.xml'                    #this file should be present in your code repo, this contain code dependecies
    mavenOptions: '-Xmx3072m'                  #optional, heap memory while running    
    goals: 'compile'                           # we are using compile goal of maven lifecycle

- task: Maven@3
  displayName: 'execute unit tests'
  inputs:
    mavenPomFile: 'pom.xml'                    #this file should be present in your code repo, this contain code dependecies
    goals: 'test'                              # we are using test goal of maven lifecycle

- task: Maven@3
  displayName: 'build code and generate artifact'
  inputs:
    mavenPomFile: 'pom.xml'                    #this file should be present in your code repo, this contain code dependecies
    goals: 'package'                           #it creates deployable from compiled source code