name: maven test

on:
  push:
    branches: ["master"]

jobs:
  maven-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Run Maven tests
        run: mvn -B test

