name: maven test

on:
  push:
    branches: ["master"]

jobs:
  maven-test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven
      - name: run
        run: mvn -B test
