name: Maven CI/CD

on:
 push:
    branches: [ master ]
    
 pull_request:
    branches: [ master ]


jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Build project with Maven
      run: mvn -B package --file pom.xml
      
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v3
      with:
       name: my-artifact
       path: ./src
       retention-days: 5
