name: maven build publish

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven & copy artifact
      run: |
          mvn -B package --file pom.xml
          mkdir staging && cp target/*.jar staging
     
    - name: Step 4 - Set up a cache for Maven
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
          
    
        
    - name: uploading artifacts to git-artifacts
      uses: actions/upload-artifact@v2
      with:
          name: github-actions-artifact
          path: staging
